.des_container {
    box-sizing: border-box;
    width: 1200px;
    padding: 0 70px;
    margin: 0 auto;
}
.des_container .title {
    font-size: 26px;
    color: #333333;
    border-bottom: 1px solid #eee;
    text-align: center;
    line-height: 100px;
    height: 100px;
    overflow: auto;
}
.des_container .info {
    font-size: 14px;
    color: #666666;
    margin: 18px 0;
}
.des_container .time_addr {
    text-align: center;
    overflow: hidden;
    margin: 20px auto;
    font-size: 14px;
    color: #106e66;
    line-height: 120px ;
}
.des_container .time_addr .time {
    float: left;
    width: 490px;
    height: 111px;
    background: url(/resources/img/tenderTemplate/time.png) no-repeat;
}
.des_container .time_addr .addr {
    float: right;
    width: 490px;
    height: 111px;
    background: url(/resources/img/tenderTemplate/addr.png) no-repeat;
}
.des_container .block_title {
    text-align: center;
    font-size: 24px;
    color: #333333;
    background: url(/resources/img/tenderTemplate/titlebg.png) no-repeat center;
    margin: 25px auto;
}
.des_container .option_title {
    font-weight: bold;
    font-size: 16px;
    color: #106e66;
    position: relative;
    padding-left: 15px;
    margin: 15px 0 5px;
}
.des_container .option_title:before {
    content: '';
    width: 5px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 3px;
    border-radius: 4px;
    background: #006ad3;
}
.des_container .option_table table {
    width: 100%;
    text-align: center;
}
.des_container .option_table table table {
    border: 0;
}
.des_container .option_table table table td {
    border-top: none;
    border-left: none;
    border-right: none;
}
.des_container .option_table table table tr:last-child td {
    border: 0;
}
.des_container .option_table th {
    background: url(/resources/img/tenderTemplate/thbg.png);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #fff;
    height: 37px;
    line-height: 37px;
}
.des_container .option_table th:last-child {
    border-right: 1px solid #006ad3;
}
.des_container .option_table th:first-child {
    border-left: 1px solid #006ad3;
}
.des_container .option_table td {
    font-size: 12px;
    color: #333333;
    border: 1px solid #006ad3;
    padding: 10px;
}
.des_container .option_list {
    color: #666666;
    font-size: 14px;
    line-height: 30px;
}
.des_container .option_list li {
    list-style: decimal;
    list-style-position: outside;
    margin-left: 1em;
}
.des_container .option_list .orange {
    color: #ff5a37;
}
.des_container .step {
    color: #44817c;
    font-size: 14px;
    margin-top: 10px;
}
.des_container .step .step_order {
    margin-bottom: 10px;
    background: url(/resources/img/tenderTemplate/stepbg.png);
}
.des_container .step .step_order i {
    width: 74px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: url(/resources/img/tenderTemplate/step.png) no-repeat;
    margin-right: 15px;
    font-style: normal;
}
.des_container .warning {
    font-size: 14px;
    color: #44817c;
    overflow:hidden;
}
.des_container .warning .warning_option {
    box-sizing: border-box;
    padding: 30px;
    line-height: 30px;
    background: url(/resources/img/tenderTemplate/warn.png) no-repeat;
    width: 250px;
    height: 360px;
    float: left;
    margin-right: 20px;
}
.des_container .warning .warning_option:last-child {
    margin-right: 0;
}
.des_container .warning .warning_option i {
    font-size: 40px;
    font-style: normal;
}
